version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:stretch

    steps:
      - checkout

      - run:
          name: Fetch ANTLR Complete
          command: wget https://www.antlr.org/download/antlr-4.7.2-complete.jar
      - run:
          name: Ensure ANTLR JAR is executable
          command: chmod +x antlr-4.7.2-complete.jar
      - run:
          name: Compile Grammar
          command: java -jar antlr-4.7.2-complete.jar -o out Tamarin.g4
      - run:
          name: Unset classpath
          command: unset CLASSPATH
      - run:
          name: Compile Java Output 
          command: find . -type f -name "*.java" -print | xargs javac -cp antlr-4.7.2-complete.jar
      - run:
          name: Parse Test Spthy
          command: java -cp antlr-4.7.2-complete.jar:out/ org.antlr.v4.gui.TestRig Tamarin theory -ps tree.ps tendermint_subgroups.spthy > messages.txt
      - run:
          name: Parse Test Spthy with Diagnostics
          command: java -cp antlr-4.7.2-complete.jar:out/ org.antlr.v4.gui.TestRig Tamarin theory -diagnostics tendermint_subgroups.spthy > diagnostics.txt
      - store_artifacts:
          path: tree.ps
          destination: tree
      - store_artifacts:
          path: messages.txt
          destination: messages
      - store_artifacts:
          path: diagnostics.txt
          destination: diagnostics